body 
{    
	font-family: arial;
	text-align: center;
}
button {
    background-color: "white";
    border: none;
    color: #39F;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
h1 
{        
	background-color:#CCC;    
	border: 1px solid;    
	color:#39F;    
	text-align: center;    
}

table 
{    
	background-color: #F60;    
	border: 1px solid #39F;    
	width: 100%;    
}

td 
{    
	border: 0px;    
	text-align: center;    
}

#currentToolbarState{
	display: none;
}

p 
{    
	color:#09F;    	
	text-indent: 20px;        
}